# Google Maps JavaScript API key (Maps JavaScript API must be enabled)
# https://console.cloud.google.com/google/maps-apis
VITE_GOOGLE_MAPS_API_KEY=your_google_maps_api_key_here

# VietMap API key for accurate geocoding and address autocomplete in Vietnam
# https://maps.vietmap.vn/
VITE_VIETMAP_API_KEY=5ccc4cd6f70448296dcc3ce29a3d34958dd4b86eef43fa46

# VietMap Tilemap API key for visual map tiles (if you have one, otherwise defaults to OpenFreeMap)
VITE_VIETMAP_TILEMAP_API_KEY=6ef81d02dd3377004ee1c34726cbb71c9393fe42f098e24e

# Google OAuth Client ID for login
VITE_GOOGLE_CLIENT_ID=288979424324-k9o4upamnjtr5kvlk33pjtnr51nbsmer.apps.googleusercontent.com

# Cloudflare R2 / S3 Configuration (Backend)
R2_ENDPOINT=https://f57aad0e4caab95af1c52c46175ca7a6.r2.cloudflarestorage.com
R2_BUCKET_NAME=billboard
R2_ACCESS_KEY=your_access_key_here
R2_SECRET_KEY=your_secret_key_here
R2_PUBLIC_URL=https://pub-f57aad0e4caab95af1c52c46175ca7a6.r2.dev
